name: WindowsRelease

on:
  workflow_dispatch


jobs:
  build:
    name: Windows
    runs-on: windows-2022
    env:
      CC: cl.exe
      CXX: cl.exe
    strategy:
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Configure
        run: |
            copy doc/binary_win_dist/Plugins.txt plugins/OGF/Plugins.txt
            ./configure.bat

      - name: Build
        run: cmake --build build/Windows --config Release

      - name: List generated files
        run: dir ./build/Windows/bin/Release

      - name: Make package
        run: ./build/Windows/bin/Release/graphite.exe shell=true lib/make_windows_dist.lua 

      - name: List generated packages
        run: dir ../../GRAPHITEDIST

      - name: Copy generated packages
        run: |
            mkdir Windows
            copy ../../GRAPHITEDIST/*.zip Windows/

      - 
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        name: "Deploy release files"
        uses: xresloader/upload-to-github-release@v1
        with:
          draft: false
          file: Windows/*
          overwrite: true
          update_latest_release: true
          verbose: true
