name: WindowsRelease

on:
  workflow_dispatch


jobs:
  build:
    name: Windows 
    runs-on: windows-2022
    env:
      CC: cl.exe
      CXX: cl.exe
    strategy:
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Configure
        run: ./configure.bat

      - name: Build
        run: cmake --build build/Windows --config Release

      - name: Check
        run: dir ./build/Windows/Release/bin/

      - name: Package
        run: ./build/Windows/Release/bin/graphite.exe lib/make_windows_dist.lua -now
